*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;

}
html,body{
	height: 100%;
}
.clear{
	clear: both;
}
header{
	width: 100%;
	color: #fff;
	background-color: #009688;
	padding: 2% 16px;
}

header h1{
	font-family: Arial, sans-serif;
	font-weight: 400;
	margin: 5px 0;
	font-size: 46px;
}
div.conteudo{
	padding: 10px 10px;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	background-color: white;
}
div.img{
	float: left;
	width: 33.3333%;
}
div.img img{
	width: 100%;
	min-height: 200px;
	vertical-align: middle;
	border: 0;
}

 div.legenda{
 	float: left;
 	width:  66.66666%;
 	padding: 2% 16px;
 }

div.container1,div.container2,div.container3,div.container4,div.container5{
	margin: 16px;
}